form.form-file(action=data.action method="POST")
	.form-file__head
		.form-file__title #{data.value ? 'Файл загружен' : 'Загрузите файл'}
	.form-file__body
		label.form-file__label
			if (data.value)
				.form-file__value #{data.value.name}
			else
				.form-file__placeholder Выбрать файл</br>на компьютере
			input.form-file__input(
				data-ref="input"
				type='file'
				name=data.input.name
				accept=(data.input.accept ? data.input.accept.join(',') : undefined)
			)
	if (data.value)
		.form-file__footer(data-ref="footer")
